languageCode = 'en-gb'
theme = 'hugo-theme-bootstrap'
googleAnalytics = ""
enableRobotsTXT = true

[Menus]
  main = [
      {Name = "About", URL = "/about/", weight = 1},
      {Name = "Projects", URL = "/projects/", weight = 2},
      {Name = "Tools & Resources", URL = "/tools-and-resources/", weight = 3},
      {Name = "Newsletter", URL = "/newsletter/", weight = 4},
      {Name = "Contact", URL = "/contact/", weight = 5},
      {Name = "Events", URL = "/posts/events/", weight = 6},
      {Name = "Search", URL = "/search/", weight = 7},
  ]

[params]
  description = "Simon Foster - North of England-based Software Developer | .NET developer | Azure & DevOps specialist | 18+ years building scalable solutions"
  images = ["/images/1922276.jpg"]
  themeColor = "theme-base-0d"
  logo = false
  comment = true

[params.author]
  name = "Simon Foster"
  location = "North England"
  about = "/about"
  bio = "I am Simon Foster (aka funkysi1701) a developer sharing 18+ years of experience in .NET, Azure, and DevOps. I write about cloud architecture, CI/CD pipelines, and building scalable applications."
  email = "funkysi1701@gmail.com"
  avatar = "/images/1922276.jpg"

[params.social]
  facebook = "funkysi1701"
  twitter = "funkysi1701"
  mastodon = "@funkysi1701"
  github = "funkysi1701"
  linkedin = "in/funkysi1701/"
  bluesky = "funkysi1701.com"

[params.giscus]
  repo = "funkysi1701/Blog-Comments"
  repoId = "R_kgDOQJKGlA"
  category = "General"
  categoryId = "DIC_kwDOQJKGlM4CxELi"
  mapping = "title"
  strict = "0"
  reactionsEnabled = "1"
  emitMetadata = "0"
  inputPosition = "bottom"
  lang = "en"
  
[taxonomies]
  year = "year"
  month = "month"
  tag = "tags"
  category = "categories"

[permalinks]
  year = "/:year/"
  month = "/:year/:month/"  

[markup.goldmark.renderer]
  unsafe= true  

[server]
[[server.headers]]
  for = '/**.html'
  [server.headers.values]
    Content-Security-Policy = 'script-src localhost:1313'
    Referrer-Policy = 'strict-origin-when-cross-origin'
    X-Content-Type-Options = 'nosniff'
    X-Frame-Options = 'DENY'
    X-XSS-Protection = '1; mode=block'

[outputs]
  home = ["HTML", "RSS", "JSON"]
