---
variables:
  - group: Global
  - name: Build.Number.Major
    value: 10
  - name: Build.Number.Minor
    value: 1
  - name: Build.Number.Sub
    value: 1
  - name: BuildNumber
    value: $(Build.BuildNumber)

name: $(Build.Number.Major).$(Build.Number.Minor).$(Build.Number.Sub).$(Rev:r)

trigger:
- develop
- test
- main
- feature/*

pool: Docker

steps:
- task: CmdLine@2
  displayName: "Install AWS CLI"
  condition: and(succeeded(), or(in(variables['Build.SourceBranch'], 'refs/heads/main', 'refs/heads/develop', 'refs/heads/test'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')))
  inputs:
    script: |
      curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
      unzip -q awscliv2.zip
      ./aws/install --bin-dir ~/.local/bin --install-dir ~/.local/aws-cli --update
      export PATH=$HOME/.local/bin:$PATH
      aws --version
- task: NodeTool@0
  displayName: "Install Node.js"
  inputs:
    versionSpec: '20.x'
- task: CmdLine@2
  displayName: "npm install and build"
  inputs:
    script: |
      cd themes/hugo-theme-bootstrap
      npm ci
      npm run build
- task: CmdLine@2
  displayName: "Build and Login to ECR"
  condition: and(succeeded(), or(in(variables['Build.SourceBranch'], 'refs/heads/main', 'refs/heads/develop', 'refs/heads/test'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')))
  env:
    AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
    AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
    AWS_DEFAULT_REGION: eu-north-1
  inputs:
    script: |
      export PATH=$HOME/.local/bin:$PATH
      HUGO_VERSION=$(grep '^HUGO_VERSION=' .env | cut -d '=' -f2)
      docker build --build-arg HUGO_VERSION=$HUGO_VERSION -t blog .
      aws ecr get-login-password --region eu-north-1 | docker login --username AWS --password-stdin 687611153768.dkr.ecr.eu-north-1.amazonaws.com
- bash: |
    case "$(Build.SourceBranchName)" in
      "main")
        echo "##vso[task.setvariable variable=imageRepoName]blog:$(Build.BuildNumber)-main"
        ;;
      "test")
        echo "##vso[task.setvariable variable=imageRepoName]blog:$(Build.BuildNumber)-test"
        ;;
      "develop")
        echo "##vso[task.setvariable variable=imageRepoName]blog:$(Build.BuildNumber)-develop"
        ;;
      *)
        echo "##vso[task.setvariable variable=imageRepoName]blog:$(Build.BuildNumber)-develop"
        ;;
    esac
  displayName: 'Set image repository name'
- task: CmdLine@2
  displayName: "Publish to ECR"
  condition: and(succeeded(), or(in(variables['Build.SourceBranch'], 'refs/heads/main', 'refs/heads/develop', 'refs/heads/test'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')))
  inputs:
    script: |
      docker tag blog 687611153768.dkr.ecr.eu-north-1.amazonaws.com/funkysi1701/$(imageRepoName)
      docker push 687611153768.dkr.ecr.eu-north-1.amazonaws.com/funkysi1701/$(imageRepoName)

- task: Kubernetes@1
  displayName: 'Kubernetes Login'
  inputs:
    connectionType: Kubernetes Service Connection
    kubernetesServiceEndpoint: kubernetes
    command: 'login'     
- script: |
    helm lint Helm/blog --namespace develop
    helm lint Helm/blog --namespace test
    helm lint Helm/blog --namespace main
- script: |
    helm upgrade --install blog ./Helm/blog --namespace develop --set image.tag=$(Build.BuildNumber)-develop
  condition: and(succeeded(), or(eq(variables['Build.SourceBranchName'], 'develop'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')))
  displayName: 'helm upgrade blog Dev'
- script: |
    helm upgrade --install blog ./Helm/blog --namespace test --set image.tag=$(Build.BuildNumber)-test
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'test'))  
  displayName: 'helm upgrade blog Test'
- script: |
    helm upgrade --install blog ./Helm/blog --namespace main --set image.tag=$(Build.BuildNumber)-main
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'main'))  
  displayName: 'helm upgrade blog Main'
