---
variables:
  - group: Global
  - name: Build.Number.Major
    value: 10
  - name: Build.Number.Minor
    value: 1
  - name: Build.Number.Sub
    value: 1
  - name: BuildNumber
    value: $(Build.BuildNumber)

name: $(Build.Number.Major).$(Build.Number.Minor).$(Build.Number.Sub).$(Rev:r)

trigger:
- develop
- test
- main
- feature/*

pool: Docker

steps:
- task: CmdLine@2
  displayName: "Login"
  condition: and(succeeded(), or(in(variables['Build.SourceBranch'], 'refs/heads/main', 'refs/heads/develop', 'refs/heads/test'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')))
  inputs:
    script: |
      docker build -t blog .
      printf '%s' "$(acrPassword)" | docker login funkysi1701.azurecr.io --username funkysi1701 --password-stdin
- bash: |
    case "$(Build.SourceBranchName)" in
      "main")
        echo "##vso[task.setvariable variable=imageRepoName]blog:$(Build.BuildNumber)-main"
        ;;
      "test")
        echo "##vso[task.setvariable variable=imageRepoName]blog:$(Build.BuildNumber)-test"
        ;;
      "develop")
        echo "##vso[task.setvariable variable=imageRepoName]blog:$(Build.BuildNumber)-develop"
        ;;
      *)
        echo "##vso[task.setvariable variable=imageRepoName]blog:$(Build.BuildNumber)-develop"
        ;;
    esac
  displayName: 'Set image repository name'
- task: CmdLine@2
  displayName: "Publish to ACR"
  condition: and(succeeded(), or(in(variables['Build.SourceBranch'], 'refs/heads/main', 'refs/heads/develop', 'refs/heads/test'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')))
  inputs:
    script: |
      docker tag blog funkysi1701.azurecr.io/funkysi1701/$(imageRepoName)
      docker push funkysi1701.azurecr.io/funkysi1701/$(imageRepoName)

- task: Kubernetes@1
  displayName: 'Kubernetes Login'
  inputs:
    connectionType: Kubernetes Service Connection
    kubernetesServiceEndpoint: kubernetes
    command: 'login'     
- script: |
    helm lint Helm/blog --namespace develop
    helm lint Helm/blog --namespace test
    helm lint Helm/blog --namespace main
- script: |
    helm upgrade --install blog ./Helm/blog --namespace develop --set image.tag=$(Build.BuildNumber)-develop
  condition: and(succeeded(), or(eq(variables['Build.SourceBranchName'], 'develop'), startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')))
  displayName: 'helm upgrade blog Dev'
- script: |
    helm upgrade --install blog ./Helm/blog --namespace test --set image.tag=$(Build.BuildNumber)-test
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'test'))  
  displayName: 'helm upgrade blog Test'
- script: |
    helm upgrade --install blog ./Helm/blog --namespace main --set image.tag=$(Build.BuildNumber)-main
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'main'))  
  displayName: 'helm upgrade blog Main'
