baseURL = 'https://blog.funkysi1701.com/'
languageCode = 'en-gb'
title = "Development Version of Funky Si's Blog"
theme = 'hugo-theme-bootstrap'
googleAnalytics = ""
enableRobotsTXT = true

[Menus]
  main = [
      {Name = "About", URL = "/about/"},
      {Name = "Referral Links", URL = "/referral-links/"},
      {Name = "Events", URL = "/posts/events/"},
      {Name = "Podcasts", URL = "/podcasts/"},
      {Name = "Search", URL = "/search/"},
      {Name = "Newsletter", URL = "https://eepurl.com/i7pQno"},
  ]

[params]
  description = "Simon Foster - North of England-based Software Developer | .NET & C# specialist | More than just another developer."
  images = ["/images/1922276.jpg"]
  themeColor = "theme-base-0d"
  logo = false
  cdnImagePrefix = ""
  comment = true
  googleAdsense = ""

[params.search]
  analyticsUrl = "https://azurefunction-d4bkcjdahseefphm.uksouth-01.azurewebsites.net/api/SaveToDb"

[params.giscus]
  repo = "funkysi1701/Blog-Comments"
  repoId = "R_kgDOQJKGlA"
  category = "General"
  categoryId = "DIC_kwDOQJKGlM4CxELi"
  mapping = "title"
  strict = "0"
  reactionsEnabled = "1"
  emitMetadata = "0"
  inputPosition = "bottom"
  lang = "en"

[taxonomies]
  year = "year"
  month = "month"
  tag = "tags"
  category = "categories"

[permalinks]
  year = "/:year/"
  month = "/:year/:month/"  

[markup.goldmark.renderer]
  unsafe= true  

[server]
[[server.headers]]
  for = '/**.html'
  [server.headers.values]
    Content-Security-Policy = 'script-src localhost:1313'
    Referrer-Policy = 'strict-origin-when-cross-origin'
    X-Content-Type-Options = 'nosniff'
    X-Frame-Options = 'DENY'
    X-XSS-Protection = '1; mode=block'

[outputs]
  home = ["HTML", "RSS", "JSON"]