{{- if and (default true .Site.Params.breadcrumb) (default true .Params.breadcrumb) -}}
{{- $titleCase := default false $.Site.Params.titleCase -}}
{{- $scratch := newScratch -}}
{{- $scratch.Set "items" (slice) -}}
{{- template "breadcrumb-jsonld-collect" (dict "p1" . "p2" . "scratch" $scratch "titleCase" $titleCase) -}}
{{- $items := $scratch.Get "items" -}}
{{- if gt (len $items) 0 -}}
{{- $listItems := slice -}}
{{- $pos := 0 -}}
{{- range $items -}}
  {{- $pos = add $pos 1 -}}
  {{- $li := dict "@type" "ListItem" "position" $pos "name" .name -}}
  {{- with .url -}}
    {{- $li = merge $li (dict "item" .) -}}
  {{- end -}}
  {{- $listItems = $listItems | append $li -}}
{{- end -}}
{{- $breadcrumb := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "@id" (printf "%s#breadcrumb" $.Permalink) "itemListElement" $listItems -}}
{{- $breadcrumbJSON := $breadcrumb | jsonify -}}
<script type="application/ld+json">{{- $breadcrumbJSON | safeJS -}}</script>
{{- end -}}
{{- end -}}
{{- define "breadcrumb-jsonld-collect" -}}
{{- if .p1.Parent -}}
{{- template "breadcrumb-jsonld-collect" (dict "p1" .p1.Parent "p2" .p2 "scratch" .scratch "titleCase" .titleCase) -}}
{{- else if not .p1.IsHome -}}
{{- template "breadcrumb-jsonld-collect" (dict "p1" .p1.Site.Home "p2" .p2 "scratch" .scratch "titleCase" .titleCase) -}}
{{- end -}}
{{- $name := .p1.Title -}}
{{- if .p1.IsHome -}}
  {{- $name = i18n "home" -}}
{{- else if .titleCase -}}
  {{- $name = title $name -}}
{{- end -}}
{{- $url := .p1.Permalink -}}
{{- if and (in .p1.Title "Events") (eq .p1.Section "events") -}}
  {{- $url = absURL "/events/2026" -}}
{{- end -}}
{{- $entry := dict "name" $name -}}
{{- if ne .p1 .p2 -}}
  {{- $entry = merge $entry (dict "url" $url) -}}
{{- end -}}
{{- .scratch.Add "items" (slice $entry) -}}
{{- end -}}
