{{/* Canonical URL: match the page being viewed (including /page/N/ on paginated lists). */}}
{{ with .Params.relcanonical }}
<link rel="canonical" href="{{ . | relLangURL }}" itemprop="url" />
{{ else }}
  {{- $canonical := .Permalink -}}
  {{- if .Paginator -}}
    {{- if gt .Paginator.PageNumber 1 -}}
      {{- $canonical = .Paginator.URL | absLangURL -}}
    {{- end -}}
  {{- else if strings.Contains .RelPermalink "/page/" -}}
    {{- $canonical = .RelPermalink | absLangURL -}}
  {{- end -}}
<link rel="canonical" href="{{ $canonical }}" itemprop="url" />
{{ end }}
