{{- $page := .page -}}
{{- $pageDesc := partial "head/list-page-description" $page -}}
{{- $pageURL := $page.Permalink -}}
{{- with $page.Paginator -}}
  {{- if gt .PageNumber 1 -}}
    {{- $pageURL = .URL | absLangURL -}}
  {{- end -}}
{{- end -}}
{{- $website := dict "@type" "WebSite" "@id" (printf "%s#website" $page.Site.Home.Permalink) "name" $page.Site.Title "url" $page.Site.Home.Permalink -}}
{{- $collection := dict "@type" "CollectionPage" "@id" (printf "%s#webpage" $pageURL) "url" $pageURL "name" $page.Title "description" $pageDesc "isPartOf" $website -}}
{{- $graph := slice $collection -}}
{{- $schemaScratch := newScratch -}}
{{- partial "head/breadcrumb-schema" (dict "page" $page "target" $schemaScratch) -}}
{{- with $schemaScratch.Get "schema" -}}
  {{- $graph = $graph | append . -}}
{{- end -}}
{{- $structured := dict "@context" "https://schema.org" "@graph" $graph -}}
<script type="application/ld+json">{{- $structured | jsonify | safeJS -}}</script>
