{{- partial "head/favicons" . -}}
{{- $keywords := "" -}}
{{- if .IsPage -}}
  {{- $pageKeywords := trim (delimit .Keywords ", ") ", " -}}
  {{- if $pageKeywords -}}
    {{- $keywords = $pageKeywords -}}
  {{- else -}}
    {{- $keywords = $.Site.Params.keywords -}}
  {{- end -}}
{{- else -}}
  {{- $keywords = $.Site.Params.keywords -}}
{{- end -}}
<meta name="keywords" content="{{ $keywords }}" />
<meta name="description" content="{{ if .IsPage }}{{ if .Description }}{{ .Description | plainify | htmlUnescape }}{{ else }}{{ .Summary | plainify | htmlUnescape }}{{ end }}{{ else }}{{ .Title }} - {{ $.Site.Params.description }}{{ end }}" />
<meta name="fediverse:creator" content="@funkysi1701@hachyderm.io">
{{- template "_internal/schema.html" . -}}
{{ template "_internal/opengraph.html" . }}
{{- template "_internal/twitter_cards.html" . -}}
{{- partial "head/meta" . -}}
{{- partial "head/feed" . -}}
{{- partial "head/site-verification" . -}}
{{- if eq .Permalink (absLangURL "search/") -}}
<meta data-name="search-index" content="{{ absLangURL "index.json" }}">
{{- end -}}
{{- partial "head/assets" . -}}
{{- if .IsHome -}}
{{- $siteDesc := $.Site.Params.description | plainify | htmlUnescape -}}
{{- $author := dict "@type" "Person" "name" $.Site.Params.author.name "url" (absURL "about") -}}
{{- $website := dict "@context" "https://schema.org" "@type" "WebSite" "@id" (printf "%s#website" .Permalink) "name" .Site.Title "url" .Permalink "description" $siteDesc "author" $author -}}
{{- $websiteJSON := $website | jsonify (dict "noHTMLEscape" true) -}}
{{- printf "<script type=\"application/ld+json\">%s</script>" $websiteJSON | safeHTML -}}
{{- else if .IsPage -}}
{{- $desc := .Summary | plainify | htmlUnescape -}}
{{- with .Description -}}{{- $desc = . | plainify | htmlUnescape -}}{{- end -}}
{{- $image := absURL "/images/1922276.jpg" -}}
{{- with .Params.cover -}}{{- $image = absURL . -}}{{- end -}}
{{- $authorName := .Params.author | default $.Site.Params.author.name -}}
{{- $author := dict "@type" "Person" "name" $authorName "url" (absURL "about") -}}
{{- $publisher := dict "@type" "Person" "name" $.Site.Params.author.name "url" .Site.BaseURL -}}
{{- $article := dict "@context" "https://schema.org" "@type" "BlogPosting" "@id" (printf "%s#article" .Permalink) "headline" .Title "description" $desc "url" .Permalink "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00") "image" $image "author" $author "publisher" $publisher -}}
{{- $articleJSON := $article | jsonify (dict "noHTMLEscape" true) -}}
{{- printf "<script type=\"application/ld+json\">%s</script>" $articleJSON | safeHTML -}}
{{- end -}}
