{{- if not (in (slice "light" "dark") $.Site.Params.color) -}}
<section class="setting">
  <form class="row">
    <div class="col-auto">
      <label for="modeSwitcher"><i class="fas fa-fw fa-adjust"></i> {{ i18n "mode" }}</label>
    </div>
    <div class="col-auto ms-auto">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="modeSwitcher" aria-label="{{ i18n "mode" }}">
      </div>
    </div>
    <button type="submit" class="visually-hidden">{{ i18n "mode" }}</button>
  </form>
</section>
{{- end -}}
