name: Dev to Test
on:
  workflow_dispatch:
  schedule:
    - cron: '40 * * * *'
permissions:
  contents: write
  pull-requests: write   
jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date and time
        id: date
        run: echo "::set-output name=date::$(date +'%d %b %Y %H:%M:%S')"
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: develop
      - name: create pull request
        run: gh pr create -B test -H develop --title 'Release ${{ steps.date.outputs.date }} Dev to Test' --body 'Created by Github action' 
          || gh pr edit -B test --title 'Release ${{ steps.date.outputs.date }} Dev to Test' --body 'Created by Github action'
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
