name: Playwright Tests
permissions:
  contents: read
on:
  push:
    branches: [ main, master, test, develop ]
  pull_request:
    branches: [ main, master, test, develop ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm i
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx c8 --reporter=lcov --reporter=text --report-dir=coverage playwright test --reporter=html
    - uses: actions/upload-artifact@v6
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
    - uses: actions/upload-artifact@v6
      if: ${{ !cancelled() }}
      with:
        name: coverage-report
        path: coverage/
        retention-days: 30
